.container {
  max-width: 1200px;
  margin: auto;
  background: #ffffff;
  overflow: hidden;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 390px;
  height: 450px;
}

img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.gallery img {
  width: 100%;
}

.desc {
  padding: 15px;
  text-align: center;
}

.button-container {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
button{
  border-radius: 30px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.5s ease;
}
button:hover{
  background: hsl(252, 75%, 60%);
  color: #ccc;
}
