<app-header></app-header>
<div class="wrapper flex_align_justify">
  <div class="tc_wrap">
      <div class="tabs_list">
        <ul>
          <li data-tc="tab_item_1" class="active">Terminos de uso</li>
          <!-- <li data-tc="tab_item_2">Intellectual property rights</li> -->
          <li data-tc="tab_item_3">Actividades prohibidas</li>
          <li data-tc="tab_item_4">Termination clause</li>
          <li data-tc="tab_item_5">Governing law</li>
        </ul>
      </div>
      <div class="tabs_content">
         <div class="tab_head">
           <h2>Terms & Conditions</h2>
         </div>
         <div class="tab_body">
           <div class="tab_item tab_item_1">
               <h3>Terminos de uso</h3>
               <p>Al acceder y utilizar <span style="font-weight: bolder;">GroceryGuru</span>, aceptas estar sujeto a estos Términos. Si no estás de acuerdo con alguna parte de los Términos, por favor no utilices nuestro sitio.</p>
               <p><span style="font-weight: bolder;">GroceryGuru</span> es un servicio de comparación de productos de diferentes supermercados. Proporcionamos información sobre productos, precios y ofertas de varios supermercados con el fin de ayudar a los usuarios a tomar decisiones de compra informadas.</p>
               <p>Nuestro sitio puede contener enlaces a sitios web de terceros que no están controlados por <span style="font-weight: bolder;">GroceryGuru</span>. No tenemos control ni asumimos responsabilidad por el contenido, políticas de privacidad o prácticas de sitios web de terceros.</p>
               <p><span style="font-weight: bolder;">GroceryGuru</span> no será responsable de ningún daño directo, indirecto, incidental, especial, consecuente o punitivo que surja del uso o la imposibilidad de utilizar nuestro sitio.</p>
           </div>
           <!-- <div class="tab_item tab_item_2" style="display: none;">
               <h3>Intellectual property rights</h3>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia odit neque a natus fuga incidunt, facilis, consequatur ducimus vitae consectetur reiciendis tempora explicabo animi quis laborum possimus totam voluptatum illum.</p>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit praesentium reiciendis aut debitis minima earum fugiat quam aspernatur qui. Labore, aliquam iste. A quasi ut accusantium laboriosam eius sequi?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit praesentium reiciendis aut debitis minima earum fugiat quam aspernatur qui. Labore, aliquam iste. A quasi ut accusantium laboriosam eius sequi?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit praesentium reiciendis aut debitis minima earum fugiat quam aspernatur qui. Labore, aliquam iste. A quasi ut accusantium laboriosam eius sequi?</p>
           </div> -->
           <div class="tab_item tab_item_3"  style="display: none;">
               <h3>Actividades prohibidas</h3>
               <p>Violación de seguridad: No está permitido intentar eludir o violar las medidas de seguridad implementadas en nuestro sitio web, incluidas, entre otras, las medidas de autenticación o las restricciones de acceso.</p>
              <p>Recopilación de datos: No está permitido recopilar información personal de otros usuarios sin su consentimiento explícito. Esto incluye, entre otros, el uso de bots, scrapers u otros medios automatizados para recopilar datos del sitio.</p>
              <p>Manipulación del sitio: No está permitido intentar acceder o interferir con el funcionamiento normal de nuestro sitio web, incluidos, entre otros, intentos de cargar virus, realizar ataques de denegación de servicio o alterar el contenido de nuestro sitio.</p>
           </div>
           <div class="tab_item tab_item_4"  style="display: none;">
               <h3>Termination clause</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quae ipsa, enim aspernatur ducimus vero! Repellendus exercitationem dolore, voluptatibus consectetur facere eveniet in, corporis, nostrum animi unde recusandae repudiandae. Excepturi.</p>
           </div>
           <div class="tab_item tab_item_5"  style="display: none;">
               <h3>Governing law</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem alias nemo eius aspernatur doloremque laboriosam velit, consequatur nesciunt, ipsum facere autem, dicta quam consectetur! Nostrum quae odit adipisci omnis asperiores!</p>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem alias nemo eius aspernatur doloremque laboriosam velit, consequatur nesciunt, ipsum facere autem, dicta quam consectetur! Nostrum quae odit adipisci omnis asperiores!</p>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem alias nemo eius aspernatur doloremque laboriosam velit, consequatur nesciunt, ipsum facere autem, dicta quam consectetur! Nostrum quae odit adipisci omnis asperiores!</p>
           </div>
         </div>
         <div class="tab_foot flex_align_justify">
           <button class="decline">
             Decline
           </button>
           <button class="agree">
             Agree
           </button>
         </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
