h2{
  color:#24262b;
}
.home-container {
  margin-top: 200px;
}

.item-cards-container {
  width: 80%; 
  margin: 10px auto 10px auto ; 
  overflow-x: scroll; 
  white-space: nowrap; 
  border-top: 1px solid #ccc; 
  padding-top: 20px; 
  padding-bottom: 20px; 
  position: relative; 
}

.item-cards {
  display: inline-block;
  cursor: pointer;
}

.item {
  display: inline-block;
  margin-right: 10px; 
}

.item:last-child {
  margin-right: 0; 
}

.item img {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 300px; 
  height: 300px; 
  object-fit:contain; 
}

.item h3 {
  color:#24262b;
}

@media screen and (max-width: 465px) {
  .home-container{
    margin-top: 270px;
  }
}