<app-header></app-header>
<app-spinner *ngIf="isLoading"></app-spinner>
<div class="home-container" *ngIf="!isLoading">
  <div class="item-cards-container">
    <h2>TOP PRODUCTS CARREFOUR</h2>
    <div class="item-cards">
      <div class="item" *ngFor="let item of carrefour">
        <i (click)="addToFavorites(item.title, item.image, item.price)" class="fa-regular fa-heart" [ngClass]="{'favorite': isFavorite(item.title)}"></i>
        <div (click)="goToCarrefour()">
          <img  src={{item.image}} alt="">
          <h3>{{ item.title }}</h3>
          <h3>{{ item.price }}</h3>
        </div>
        <div class="button-container">
          <button (click)="compareProduct(item.title)">Comparar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="item-cards-container">
    <h2>TOP PRODUCTS AHORRAMAS</h2>
    <div class="item-cards">
      <div class="item" *ngFor="let item of ahorramas">
        <i (click)="addToFavorites(item.title, item.image, item.price)" class="fa-regular fa-heart" [ngClass]="{'favorite': isFavorite(item.title)}"></i>
        <div (click)="goToAhorramas()">
          <img src={{item.image}} alt="">
          <h3>{{ item.title }}</h3>
          <h3>{{ item.price }}</h3>
        </div>
        <div class="button-container">
          <button (click)="compareProduct(item.title)">Comparar</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>


</div>
