.item-cards-container {
    width: 100%; 
    overflow-x: scroll; 
    white-space: nowrap; 
  }
  
  .item-cards {
    display: inline-block; 
  }
  
  .item {
    display: inline-block; 
    margin-right: 20px; 
  }
  
  
  
