// *{
//     margin: 0;
//     padding: 0;
//     font-family: 'Poppins', sans-serif;
//     box-sizing: border-box;
//   }
  
.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(133, 133, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 260px;
  }
  .image-section{
    width: 90%;
    height: auto;
    margin: auto;
  }
  .image-section img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: block;
    margin: 50px auto;
    box-shadow: 10px 10px 20px;
  }
  
  
  .title h1 {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0;
    font-family: "DM Serif Text", serif;
  }
  
  .about {
    width: 100%;
    max-width: 800px;
    margin-top: 50px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    cursor: pointer;
    user-select: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #24262bb7;
  }
  
  h2:before {
    content: '\25B6';
    display: inline-block;
    margin-right: 5px;
    transition: transform 0.3s;
  }
  
  h2.open:before {
    transform: rotate(90deg);
  }
  
  p {
    display: block;
    color: #24262bb7;;
  }
  
  p.open {
    display: block;
  }
  
  
//   @media screen and (max-width: 1440px) {
//   .wrapper{
//     margin-top: 15px;
//   }
//   .title h1{
//     font-size: 28px;
//     text-align: center;
//   }
//   .image-section img{
//     height: 200px;
//     width: 200px;
//   }
//   .about{
//     flex-direction: column;
//     margin-top: 70px;
//   }
//   article{
//     margin-top: 30px;
//   }
//   article h3{
//     font-size: 18px;
//   }
//   article p{
//     font-size: 20px;
//   }
//   article .button{
//     margin-bottom: 50px;
//   }
//   article a{
//     padding: 8px 20px;
//     font-size: 17px;
//   }
  
//   }
//   @media screen and (max-width: 600px) {
//     .about{
//       margin-top: 170px;
//     }
//   }
  