
.wrapper {
    width: 100%;
    min-height: 100vh;
    background: url(../../../../../assets/BGfaq.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-section{
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: -50px;
  }

  img{
    height: 380px;
    width: 380px;
    display: block;
    margin: auto;
    padding: auto;
  }

  .title h1 {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0;
    font-family: "DM Serif Text", serif;
  }

  .about {
    width: 100%;
    max-width: 800px;
    margin-top: 50px;
  }

  section {
    margin-bottom: 20px;
  }

  h2 {
    cursor: pointer;
    user-select: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #24262bb7;
  }

  h2:before {
    content: '\25B6';
    display: inline-block;
    margin-right: 5px;
    transition: transform 0.3s;
  }

  h2.open:before {
    transform: rotate(90deg);
  }

  p {
    display: block;
    color: #24262bb7;;
  }

  p.open {
    display: block;
  }
  @media screen and (max-width: 2145px) {
    .wrapper{
      margin-top: 200px;
    }
  }
