.Principal-title{
  font-size: 30px;
  color: verde;
  display: flex;
  align-items: center;
  font-family: "DM Serif Text", serif;
  font-weight: 550;
  font-style: italic;
  margin-left: -524px;
  margin-top: 235px;
  height: auto;
  width: auto;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.Principal-container{
  display: flex;
  width: 100%;
  height: 100%;

}

.Container-Filters{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 50px;
  width: 20%;
  height: auto;
  text-align: center;
  background: rgba(32, 108, 95, 0.7137254902);
  align-items: flex-start;
  flex-direction: column;
  margin-left: 108px;
}

.Title-Container{
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  font-family: "DM Serif Text", serif;
  font-weight: 550;
  font-style: italic;
  margin-left: 10px;
  margin-top: 18px;
  height: auto;
  width: 60%;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.title-marcas{
  font-style: italic;
  margin-left: 152px;
  margin-top: 18px;
}

.marcas-category{
  font-size: 14px;
  color: white;
  display: flex;
  width: 50%;
  height: 100%;
  margin-left: -238px;
  margin-top: -34px;
  margin-bottom: auto;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.Category-Container{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 85px;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: flex-start;
  margin-left: 170px;
  justify-content: space-around;
  flex-direction: column;

}

.Categories{
  font-size: 14px;
  color: white;
  display: flex;
  width: 50%;
  height: 100%;
  margin-left: -238px;
  margin-top: -34px;
  margin-bottom: auto;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.category-productos{
  font-size: 14px;
  color: white;
  display: flex;
  width: 61%;
  height: auto;
  margin-left: -150px;
  margin-top: -5px;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: center;
  /* align-items: stretch; */
  flex-wrap: wrap;
  align-content: flex-start;
}


.Category-box{
  display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 24px;
    width: 17%;
    height: 70%;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 176px;
    box-sizing: 10px;
    transform: scale(0.4);
}

.Title-Price{
  font-size: 15px;
  color: white;
  display: flex;
  margin-top: auto;
  height: auto;
  width: auto;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.Container-prices{
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: auto;
  height: auto;
  text-align: center;
  flex-direction: column;
  margin-left: auto;
  align-content: flex-end;
  flex-wrap: wrap;
}

.Category-box-prices{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: auto;
  width: auto;
  height: auto;
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: auto;
  box-sizing: 10px;
  transform: scale(0.4);
}

.Bottom-reset{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: auto;
  width: auto;
  height: auto;
  text-align: center;
  background: rgba(32, 108, 95, 0.7137254902);
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: auto;

}


.Container-Products {
  font-family: 'Poppins', sans-serif;
  max-width: 10%;
  margin: auto;
  background: #ffffff;
  overflow: hidden;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 20px;
  height: auto;
}
.gallery {
  margin: 5px;
  border: 1px solid #24262b57;
  border-radius: 10px;
  float: left;
  width: 390px;
  height: 450px;
  box-shadow: 2px 2px 8px #337357;
}
img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.gallery i{
  position: absolute;
  margin: 10px 0 0 300px;
  font-size: 30px;
  color: #24262ba1;
}

.gallery img {
  width: 100%;
}

.desc {
  padding: 15px;
  text-align: center;
}

.button-container {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
button{
  display: inline-block;
  padding: 0.6rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  color: white;
  background-color: #337357;
  transition: all 300ms ease;
  border: none;
}
button:hover{
  opacity: 0.8;
  color: #ccc;
}

@media screen and (max-width: 1660px) {
  .container{
    margin-top: 250px;

  }
}
@media screen and (max-width: 800px) {
  .container{
    margin-top: 200px;
  }
}
