<app-header></app-header>
<h1 class="Principal-title">Perfumería e Higiene</h1>
<div class="Principal-container">
  <div class="Container-Filters"> 
    <div class="Title-Container">
      <span title="Productos">Productos:</span>
    </div>
    <div class="Category-Container">
      <ul class="Categories">
        <li>
          <input class="Category-box" type="checkbox" [(ngModel)]="checkboxChmapu" name="Desodorantes" role="checkbox" (change)="filterProducts(0, 5, $event)">
          <div>            
            <!-- img class="Imagen-Category" alt="Champú" src="/src/assets/images/plastic-blank-tall-shampoo-bottle-600nw-1901181124.webp"-->
            <p class="Title-Category">Champús</p>
          </div>
        </li>
        <li>
          <input class="Category-box" type="checkbox" [(ngModel)]="checkboxDesodorante" name="Desodorantes" role="checkbox" (change)="filterProducts(0, 5, $event)">
            <!--img class="Imagen-Category" src="/src/assets/images/85e12vua.jpg"-->
            <p class="Title-Category">Desodorantes</p>
        </li>
      </ul>
    </div>
    <div class="Title-Container">
      <span title="Productos">Precios:</span>
    </div>
    <li class="Container-prices">
      <input class="Category-box-prices" type="checkbox" [(ngModel)]="checkbox0to5" (change)="filterProducts(0, 5, $event)">
      <p class="Title-Price">0 € - 5 €</p>
    </li>
    <li class="Container-prices">
      <input class="Category-box-prices" type="checkbox" [(ngModel)]="checkbox5to20" (change)="filterProducts(5, 20, $event)">
      <p class="Title-Price">5 € - 20 €</p>
    </li>
    <button class="Bottom-reset" (click)="resetFilters()" role="button">Restablecer Filtros</button>
  </div>

  
  <div class="Container-Products">
    <div class="gallery" *ngFor="let resultado of filteredProducts">
    <i (click)="addToFavorites(resultado.title, resultado.image, resultado.price)" class="fa-regular fa-heart" [ngClass]="{'favorite': isFavorite(resultado.title)}"></i>
    <img [src]="resultado.image" alt="{{ resultado.title }}">
    <div class="desc">{{ resultado.title }} {{ resultado.price }}</div>
    <div class="button-container">
      <button (click)="compareProduct(resultado.title)">Comparar</button>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>