.Principal-title{
  font-size: 30px;
  color: verde;
  display: flex;
  align-items: center;
  font-family: "DM Serif Text", serif;
  font-weight: 550;
  font-style: italic;
  margin-left: -450px;
  margin-top: 251px;
  height: 10%;
  width: 100%;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
  
.Container-Products {
  font-family: 'Poppins', sans-serif;
  max-width: 80%;
  margin: auto;
  background: #ffffff;
  overflow: hidden;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 100px;
  margin-top: 50px;
  margin-left: 20px;
  height: auto;
}
.gallery {
  margin: 5px;
  border: 1px solid #24262b57;
  border-radius: 10px;
  float: left;
  width: 390px;
  height: 450px;
  box-shadow: 2px 2px 8px #337357;
}
img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.gallery i{
  position: absolute;
  margin: 10px 0 0 300px;
  font-size: 30px;
  color: #24262ba1;
}

.gallery img {
  width: 100%;
}

.desc {
  padding: 15px;
  text-align: center;
}

.button-container {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
button{
  display: inline-block;
  padding: 0.6rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  color: white;
  background-color: #337357;
  transition: all 300ms ease;
  border: none;
}
button:hover{
  opacity: 0.8;
  color: #ccc;
}

.container-products-filters{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  background: rgba(32, 108, 95, 0.7137254902);
}

.Principal-container{
  display: flex;
  width: 100%;
  height: 100%;

}

.Container-Filters{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 40px;
  width: 16%;
  height: 70%;
  text-align: center;
  background: rgba(32, 108, 95, 0.7137254902);
  align-items: flex-start;
  flex-direction: column;
  margin-left: 170px;
}

.Category-Container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 40px;
  width: 16%;
  height: 120px;
  text-align: center;
  align-items: stretch;
  flex-direction: column;
  margin-left: 170px;

}

.Title-Container{
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  font-family: "DM Serif Text", serif;
  font-weight: 550;
  font-style: italic;
  margin-left: 6px;
  margin-top: 6px;
  height: 10%;
  width: 100%;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}

.Category-box{
  display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 24px;
    width: 17%;
    height: 70%;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 176px;
    box-sizing: 10px;
    transform: scale(0.4);
}

.Title-Price{
  font-size: 15px;
  color: white;
  display: flex;
  margin-top: 22px;
  height: 11%;
  width: 98%;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.Bottom-reset{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 40px;
  width: 16%;
  height: 70%;
  text-align: center;
  background: rgba(32, 108, 95, 0.7137254902);
  align-items: flex-start;
  flex-direction: column;
  margin-left: 170px;
}

.Categories{
  font-size: 14px;
  color: white;
  display: flex;
  margin-left: -350px;
  margin-top: -50px;
  margin-bottom: 37px;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.Categories li{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
}

.Container-prices{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 173px;
  height: 68px;
  text-align: center;
  flex-direction: column;
  margin-left: 38px;
  align-content: flex-end;
  flex-wrap: wrap;
}

.Category-box-prices{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 24px;
  width: 17%;
  height: 70%;
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 176px;
  box-sizing: 10px;
  transform: scale(0.4);
}

.Bottom-reset{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 40px;
  width: 150px;
  height: 49px;
  text-align: center;
  background: rgba(32, 108, 95, 0.7137254902);
  align-items: center;
  flex-direction: column;
  margin-left: 26px;
  margin-bottom: 20px;

}





@media screen and (max-width: 1660px) {
  .container{
    margin-top: 250px;

  }
}
@media screen and (max-width: 800px) {
  .container{
    margin-top: 200px;
  }
}
