.Principal-title{
  font-size: 30px;
  color: verde;
  display: flex;
  align-items: center;
  font-family: "DM Serif Text", serif;
  font-weight: 550;
  font-style: italic;
  margin-left: 160px;
  margin-top: 235px;
  height: auto;
  width: auto;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}

.Principal-container{
  display: flex;
  width: 100%;
  height: 100%;

}

.Container-Filters{
  display: inline-block;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 50px;
  width: 15%;
  height: 100%;
  text-align: center;
  background: rgba(32, 108, 95, 0.7137254902);
  align-items: flex-start;
  flex-direction: column;
  margin-left: 160px;
  border-radius: 10px;
  padding: 10px;
}

.Title-Container{
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  font-family: "DM Serif Text", serif;
  font-weight: 550;
  font-style: italic;
  margin-left: -5px;
  width: 100%;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}

.Category-Container{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;

}
.category-productos{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  margin-bottom: 30px;
}

.checkbox-title{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 6px;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.Title-Category{
  width: 100%;
  display: flex;
  margin-left: 6px;
}

.Container-Products {
  display: flex;
  width: 80%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Bottom-reset{
  display: flex;
  margin-left: 8px;
  width: 90%;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  color: white;
  background-color: #337357;
  transition: all 300ms ease;
  border: none;
  margin-top: 20px;
}


.gallery {
  margin: 5px;
  border: 1px solid #24262b57;
  border-radius: 10px;
  float: left;
  width: 390px;
  height: 450px;
  box-shadow: 2px 2px 8px #337357;
}
img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.fa-heart::before {
  color: #24262b;
}

.fa-heart:hover {
  color: #337357;
  text-shadow: 0 0 8px #337357;
}

.fa-heart::after {
  color: #337357;
  text-shadow: 0 0 8px #337357
}

.gallery i{
  position: absolute;
  margin: 10px 0 0 300px;
  font-size: 30px;
  color: #24262ba1;
}

.gallery img {
  width: 100%;
}

.desc {
  padding: 15px;
  text-align: center;
}

.button-container {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
button{
  display: inline-block;
  padding: 0.6rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  color: white;
  background-color: #337357;
  transition: all 300ms ease;
  border: none;
}
button:hover{
  opacity: 0.8;
  color: #ccc;
}


@media screen and (max-width: 1660px) {
  .container{
    margin-top: 250px;

  }
}
@media screen and (max-width: 800px) {
  .container{
    margin-top: 200px;
  }
}