<app-header></app-header>
<div class="fav-container">
    <h2>¡Bienvenido a tu página de favoritos!</h2>
</div>
<div class="favoritos-container" *ngFor="let favorito of favoritos">

  <div class="card-container">
      <div class="products-favoritos">
          <img [src]="favorito.image" />
      <div class="descripcion-producto" >
        <h2 class="titulo-acortado">{{ favorito.title }}</h2>
        <p class="texto-acortado">{{ favorito.price }}</p>
      </div>
      </div>
  </div>

</div>
<app-footer></app-footer>
