
<div>
    <a routerLink="/home"><h1>Market comparator</h1></a>
</div>
<div>
    <nav>
            <button type="button" routerLink="/home">Home</button>
            <button type="button" onclick="">Carrefour</button>
            <button type="button" onclick="">Ahorra Mas</button>
            <label for="text">Buscar</label>
            <input type="text" [(ngModel)]="query" (input)="buscar($event)" placeholder="Search.." name="Buscar">
            <!-- <button type="button" (click)="buscar()">Buscar</button> -->
            <button type="button" >Mi perfil</button>
            <button type="button" onclick="">Cerrar sesion</button>
    </nav>
 </div>
 <ul>
    <li *ngFor="let resultado of resultados">
      <h2>{{ resultado.title }}</h2>
      <p>Precio: {{ resultado.price }}</p>
      <img [src]="resultado.image" alt="{{ resultado.title }}">
      <!-- <button (click)="comparator()">Comparar</button> -->
    </li>
  </ul>

