
<div>
    <a routerLink="/home"><h1>Market comparator</h1></a> 
</div>
<div>
    <nav>
            <button type="button" routerLink="/home">Home</button>
            <button type="button" onclick="">Carrefour</button>
            <button type="button" onclick="">Ahorra Mas</button>
            <label for="text">Buscar</label>   
            <input type="text" (input)="onInput($event)" [value]="resultados.join(', ')" placeholder="Search.." name="Buscar">
            <button type="button" onclick="">Buscar</button>
            <button type="button" onclick="">Mi perfil</button>
            <button type="button" onclick="">Cerrar sesion</button>
    </nav>
 </div>


