.container{
  font-family: 'Poppins', sans-serif;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #24262b57;
}
.container .header-title{
  font-size: 50px;
  color: black;
  display: flex;
  align-items: center;
  font-family: "DM Serif Text", serif;
  font-weight: 550;
  font-style: italic;
}
// .container img{
//   width: 80px;
//   height: 80px;
//   border-radius: 50%;
//   border: 1px solid #fff;
//   cursor: pointer;
//   margin-right: 15px;
// }
nav{
  width: 100%;
  background-color: hsl(252, 30%, 100%);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
  margin-bottom: 20px;
  color: #24262b;
  transition: 0.6s;
}

nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar{
  background-color: hsl(252, 30%, 95%);
  border-radius: 2rem;
  padding: 0.6rem 1rem;
}

.search-bar input[type="text"]{
  outline: none;
  border: none;
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: #24262b;
}
nav .nav{
  display: flex;
  align-items: center;
  gap: 2rem;
}
a{
  text-decoration: none;
  color: #24262b;
  font-weight: bolder;
}
.btn{
  height: 40px;
  display: inline-block;
  padding: 0.6rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  color: white;
  background-color: #337357;
  transition: all 300ms ease;
  border: none;
}
.btn a{
  color: white;
}
.btn:hover{
  opacity: 0.8;
}

.nav ul{
  display: flex;
  padding: 10px;
}
ul li{
  margin: 15px;
}
.abrir-menu,
.cerrar-menu
{
  display: none;
}
@media screen and (max-width: 2145px) {
  .container{
      display: flex;
      flex-direction: column;
  }
  .container .search-bar{
      margin-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  .hambuguer-container{
    display: flex;
    align-items: center;
  }
  .abrir-menu,
  .cerrar-menu {
    display: inline;
    margin-left: 1rem;
    margin-top: 15px;
  }

  .nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #337357;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    transition: opacity 1s, visibility 0.5s;
    height: 100vh;

  }
  .nav.visible{
    opacity: 1;
    visibility: visible;
  }
  ul{
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (max-width: 415px) {
  .nav ul{
    flex-wrap: wrap;
    justify-content: center;
  }
}

