.wrapper{
  width: 100%;
  min-height: 100vh;
  width: 100%;
  background: url(../../../../../assets/BGpayment-options.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.title{
  margin-top: 100px;
}
.title h1{
  color: #fff;
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 40px 0;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}
.about{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 80px;
}
.image-section {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.image-section i {
  font-size: 10vw; /* Utiliza unidades de viewport width (vw) para hacerlo responsive */
}

.visa {
  transform: rotate(15deg) translateY(-20px) translateX(-100px);
  margin-bottom: 30px;
}

.transfer {
  transform: rotate(-15deg) translateY(-20px) translateX(20px);
  margin-top: 30px;
}
article{
  width: 90%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-bottom: 50px;
}
article h3{
  font-size: 50px;
  font-weight: 500;
  color: #24262bb7;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
}
article p{
  font-size: 20px;
  color: #fff;
  margin-top: 25px;
  line-height: 1.5;
  font-family: "DM Serif Text", serif;
  font-weight: 100;
  font-style: normal;
  margin: 10px;
}
article ul{
  margin: 10px;
}
article .button{
  margin-top: 35px;
  margin-bottom: 50px;
  margin-left: 10px;
}
article a{
  color: #fff;
  padding: 10px 25px;
  font-size: 19px;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid#f3be00;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
article a:hover{
  background-color: #f3be00;

}
ul li{
  font-size: 20px;
  color: #fff;
  margin-top: 15px;
}
@media screen and (max-width: 1440px) {
.wrapper{
  margin-top: 15px;
}
.title h1{
  font-size: 28px;
  text-align: center;
}
.image-section i {
  font-size: 15vw; /* Tamaño de fuente responsive */
}
.about{
  flex-direction: column;
  margin-top: 70px;
}
article{
  margin-top: 30px;
}
article h3{
  font-size: 18px;
}
article p{
  font-size: 20px;
}
article .button{
  margin-bottom: 50px;
}
article a{
  padding: 8px 20px;
  font-size: 17px;
}


}
@media screen and (max-width: 3000px) {
  .image-section {
    position: static;
    transform: none;
    display: flex;
    justify-content: center;
    margin-top: 30px; /* Ajuste para espacio entre el título y la imagen en pantallas más pequeñas */
  }

  .image-section i {
    font-size: 10vw; /* Tamaño de fuente responsive */
    padding: 10px;
  }

  .visa {
    transform: none;
  }
  .transfer{
    transform: translateY(-30px);
  }

}

@media screen and (max-width: 800px) {
  .about {
    margin-top: -50px;
  }
}


