<app-header></app-header>
<div class="wrapper">
    <div class="image-section">
        <img src="../../../../../assets/Logo.png" alt="">
    </div>
    <h1>Opciones de pago</h1>
    <h2>¿Por qué estamos aquí?</h2>
    <p>En primer lugar, queremos dejar claro que nuestra plataforma no realiza transacciones de pago directas. No cobramos a nuestros usuarios por ningún producto o servicio ofrecido en nuestro sitio.</p>
    <h2>¿Cómo puedes pagar?</h2>
    <p>A pesar de que no procesamos pagos directos, entendemos que los usuarios pueden estar interesados en conocer las opciones de pago disponibles en los diferentes supermercados. A continuación, te presentamos algunas opciones mas comunes en sus plataformas:</p>
    <ul>
      <li><strong>PayPal:</strong> Una plataforma segura y ampliamente utilizada para realizar pagos en línea. Si prefieres usar PayPal, asegúrate de tener una cuenta activa y fondos disponibles para realizar tus transacciones.</li>
      <li><strong>Tarjeta de Crédito:</strong> Muchos usuarios optan por pagar con tarjetas de crédito debido a su conveniencia y seguridad. Asegúrate de tener una tarjeta de crédito válida y autorizada para realizar compras en línea.</li>
      <li><strong>Transferencia Bancaria:</strong> Algunos usuarios prefieren realizar transferencias bancarias directas para completar sus transacciones. Si esta es tu opción preferida, asegúrate de tener acceso a tu cuenta bancaria en línea y seguir los procedimientos de transferencia de fondos.</li>
    </ul>
    <p>Recuerda, estas opciones de pago son simplemente sugerencias y no implican ningún proceso de pago real en nuestro sitio web. Nuestra prioridad es ofrecer una experiencia segura y transparente para todos nuestros usuarios.</p>
    <p>Gracias por confiar en nosotros para tus necesidades de compras en línea.</p>
    <p><strong>¡Que tengas una excelente experiencia de compra!</strong></p>
</div>
<app-footer></app-footer>
