.container {
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: auto;
  background: #ffffff;
  overflow: hidden;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 150px;
}
.gallery {
  margin: 5px;
  border: 1px solid #24262b57;
  border-radius: 10px;
  float: left;
  width: 390px;
  height: 450px;
}
img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.gallery img {
  width: 100%;
}

.desc {
  padding: 15px;
  text-align: center;
}

.button-container {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
button{
  display: inline-block;
  padding: 0.6rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  color: white;
  background-color: hsl(252, 75%, 60%);
  transition: all 300ms ease;
  border: none;
}
button:hover{
  opacity: 0.8;
  color: #ccc;
}

.Products-Container{
  display: flex;
  flex-direction: column;
  background-color: #d7e3ef;
  border-bottom: 1px solid #fff;
  color: #2d2d2d;
  padding: 10px 15px; 
}

.Title.Container{
  align-items: center;
  color: #0a3761;
  display: flex;
  gap: 8px;
}

.Title.Container > span{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
}

.Category.Container{
  align-items: center;
  display: flex;
  gap: 8px;
}

.Category.Container > ul{
  display: flex;
  gap: 8px;
  list-style: none;
}

.Category{
  align-items: center;
  display: flex;
  height: 85px;
  padding: 10px;
}

.Imagen-Category{
  padding: auto;
  height: 50px;
  width: 50px;
}

.Title-Category {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;

}


@media screen and (max-width: 1660px) {
  .container{
    margin-top: 250px;

  }
  .gallery {
    margin: 5px;
    border: 1px solid #24262b57;
    border-radius: 10px;
    float: left;
    width: 390px;
    height: 450px;
    box-shadow: 2px 2px 8px #337357;
  }
}