<app-header></app-header>
<div class="container">
  <div class="gallery" *ngFor="let resultado of filteredProducts">
    <img [src]="resultado.image" alt="{{ resultado.title }}">
    <div class="desc">{{ resultado.title }} {{ resultado.price }}</div>
    <div class="button-container">
    </div>
  </div>
  <div class="Products-Container"> 
    <div class="Title-Container">
      <span title="Productos">Prductos</span>
    </div>
    <div class="Category-Container">
      <ul>
        <li>
          <input class="Category" type="checkbox" name="Champus" role="checkbox" (change)="filterProducts('Champú', $event)">
          <div>            
            <img class="Imagen-Category" alt="Champú" src="/src/assets/images/plastic-blank-tall-shampoo-bottle-600nw-1901181124.webp">
            <p class="Title-Category">Champús</p>
          </div>
        </li>
        <li>
          <div>
            <input class="Category" type="checkbox"   name="Desodorantes" role="checkbox" (change)="filterProducts('Desodorante', $event)">
            <img class="Imagen-Category" src="/src/assets/images/85e12vua.jpg">
            <p class="Title-Category">Desodorantes</p>
          </div>
        </li>
      </ul>
    </div>
    <li>
      <input type="checkbox" [(ngModel)]="checkbox0to5" (change)="filterProductsByPrice(0, 5, $event)">
      <p class="Title-Price">0 - 5</p>
    </li>
    <li>
      <input type="checkbox" [(ngModel)]="checkbox5to10" (change)="filterProductsByPrice(5, 10, $event)">
      <p class="Title-Price">5 - 10</p>

    </li>
    <button (click)="resetFilters()" role="button">Restablecer Filtros</button>
<app-footer></app-footer>