<app-header></app-header>
<div class="container">
  <div class="gallery" *ngFor="let resultado of resultados">
    <i (click)="addToFavorites(resultado.title, resultado.image, resultado.price)" class="fa-regular fa-heart" [ngClass]="{'favorite': isFavorite(resultado.title)}"></i>
    <img [src]="resultado.image" alt="{{ resultado.title }}">
    <div class="desc">{{ resultado.title }} {{ resultado.price }}</div>
    <div class="button-container">
      <button (click)="compareProduct(resultado.title)">Comparar</button>
</div>




<app-footer></app-footer>
