<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container-landing">
<div class="container"[ngClass]="{'sign-up-mode': isSignUpMode, 'sign-up-mode2': isSignUpMode2}">
  <div class="signin-signup">
      <form (ngSubmit)="handleLogin()" class="sign-in-form">
          <h2 class="title">Sign In</h2>
          <div class="input-field">
              <i class="fa-solid fa-user"></i>
              <input name="email" type="email" placeholder="Email" [(ngModel)]="email" required>
          </div>
          <div class="input-field">
              <i class="fa-solid fa-lock"></i>
              <input type="{{showPassword ? 'text' : 'password'}}" id="password" name="password" [(ngModel)]="password" required placeholder="Password">
              <i (click)="togglePasswordVisibility()" *ngIf="showPassword" class="fa-solid fa-eye"></i>
              <i (click)="togglePasswordVisibility()" *ngIf="!showPassword" class="fa-solid fa-eye-slash"></i>
          </div>
          <input type="submit" value="Login" class="btn">
          <p class="social-text">Or Sign in with social platform</p>
          <div class="social-media">
              <a href="https://www.facebook.com/" class="social-icon">
                  <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw" class="social-icon">
                  <i class="fa-brands fa-twitter"></i>
              </a>
              <a href="https://www.google.es/" class="social-icon">
                  <i class="fa-brands fa-google"></i>
              </a>
              <a href="https://www.linkedin.com/feed/" class="social-icon">
                  <i class="fa-brands fa-linkedin"></i>
              </a>
          </div>
          <p class="message-text">{{messageLogin}}</p>
          <p class="account-text">Don't have an account? <a href="#" id="sign-up-btn2">Sing Up</a></p>
      </form>


      <form (ngSubmit)="handleRegister()" class="sign-up-form">
          <h2 class="title">Register</h2>
          <div class="input-field">
              <i class="fa-solid fa-user"></i>
              <input name="name" type="text" placeholder="Username" [(ngModel)]="name" required>
          </div>
          <div class="input-field">
            <i class="fa-solid fa-user"></i>
            <input name="surname" type="text" placeholder="Surname" [(ngModel)]="surname" required>
        </div>
          <div class="input-field">
              <i class="fa-solid fa-envelope"></i>
              <input name="email" type="text" placeholder="Email" [(ngModel)]="email" required>
          </div>
          <div class="input-field" >
              <i class="fa-solid fa-lock"></i>
              <input type="{{showPassword ? 'text' : 'password'}}" id="password2" name="password" [(ngModel)]="password" required placeholder="Password">
              <i (click)="togglePasswordVisibility()" *ngIf="showPassword" class="fa-solid fa-eye"></i>
              <i (click)="togglePasswordVisibility()" *ngIf="!showPassword" class="fa-solid fa-eye-slash"></i>
          </div>
          <input type="submit" value="Register" class="btn">
          <p class="social-text">Or Sign in with social platform</p>
          <div class="social-media">
              <a href="#" class="social-icon">
                  <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                  <i class="fa-brands fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                  <i class="fa-brands fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                  <i class="fa-brands fa-linkedin"></i>
              </a>
          </div>
          <p class="message-text">{{messageRegister}}</p>
          <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sing In</a></p>
      </form>


  </div>
  <div class="panels-container">
      <div class="panel left-panel">
          <div class="content">
              <h3>¿Ya estás registrado?</h3>
              <p>¡Inicia sesión en nuestra plataforma! Te ofrecemos una manera rápida y sencilla de comparar precios entre diferentes supermercados, para que puedas encontrar el producto que necesitas al mejor precio posible.
              </p>
              <button class="btn" id="sign-in-btn" (click)="toggleSignIn()">Sign in</button>
          </div>
          <img src="../../../../../assets/23-29.svg" alt="" class="image">
      </div>
      <div class="panel right-panel">
          <div class="content">
              <h3>¿Aún no estás registrado?</h3>
              <p>Si todavía no tienes una cuenta, ¿a qué esperas? Regístrate ahora para empezar a disfrutar de los beneficios de ahorrar dinero en tus compras. ¡Únete a nuestra comunidad de ahorradores inteligentes y empieza a comparar precios hoy mismo!
              </p>
              <button class="btn" id="sign-up-btn" (click)="toggleSignUp()">Register</button>
          </div>
          <div class="img-container" style="display: flex; justify-content: center; width: 150%;">
            <img src="../../../../../assets/MarketMatch.svg" alt="" class="image">
          </div>

      </div>
  </div>
</div>
</div>
